<body style="background-image: linear-gradient(rgb(43, 33, 126),rgb(74, 150, 185))">
  <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
      <div class="container mt-3">
        <div class="row m-auto">
          <% for(let myHotel of mHotel){ %>
            <div class="col-lg-3 d-flex justify-content-center"> 
            <div class="card mt-4" style="width: 18rem;">
              <a href="/hotels/<%= myHotel.hotelId %>" style="display: block; overflow: hidden;"><img src="<%= myHotel.image[0] %>" class="card-img-top" alt="..."
                style="height: 200px; object-fit: cover; transition: transform 0.3s ease; transform: scale(1);"
                onmouseover="this.style.transform='scale(1.1)'"
                onmouseout="this.style.transform='scale(1)';"></a>
              <div class="card-body">
                <h5 class="card-title">
                  <%= myHotel.name %>
                </h5>
                <p class="card-text">
                  <%= myHotel.address.fullAddress %>
                </p>
                <a href="/hotels/<%= myHotel.hotelId %>" class="btn" style="background-color: #6d5f9c; color: white;">View Hotel</a>
              </div>
            </div>
        </div>
        <% } %>
      </div>
      
      </div>
      <%- include('../partials/footer') %>
</body>